@charset "UTF-8";

@media screen and (max-width: 992px) {
    body{
        height: 280vh;
    }   

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;        
        height: 250vh;
        margin: 0px;
        margin-top: 50px;
    }
    nav{
        width: 125px;
        height: 70px;
    }
    label{
        font-size: 0.6em;
    }
    aside{        
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        white-space: wrap;
        justify-content: center;
        align-items: center;           
        margin: 0px;  
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        margin-bottom: -20px;
        
    }
    li{
        list-style: none;    
    }
    p{             
        display: none;        
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.1em;
        margin: 0px;        
    }
    h3{
        font-size: 1em;
    }
    article{
        width: 100vw;
        height: 40vh;
        margin: 0px;
        margin-top: -30px;
        margin-bottom: 15px;
    }
    h4{
        font-size: 0.7em;
        width: 20vw;
        height: 5vh;
        margin-left: 15px;        
        
    }
    div#assine{
        display: flex;
        justify-content: center;
        align-items: center;               
    }
    div.noticia{
        width: 100vw;
    }
    div.conjunto{
        width: 100vw;
    }
    p.pconjunto{
        display: none;
    }
    img{
        height: 170px;
        width: 170px;
        margin-bottom: 20px;
    }
    h6{
        font-size: 0.7em;
        text-align: center;
        width: 90vw;
    }   
    .imgconjunto{
        width: 80px;
        height: 80px;
    }
    footer{
        font-family: Arial, Helvetica, sans-serif;       
        height: 35vh; 
    }
    #footerul{
        height: 5vh;
        width: 100vw;
        margin-bottom: 10px;
    }
    li.footerli{
        font-size: 0.8em;

    }
}