@charset "UTF-8";

@media screen and (min-width: 992px) {
  .content {
    grid-template-columns: 1fr 1fr;
    width: 75vw;
  }
  .anchor {
    display: inline-block;
  }
  h5 {
    margin: 45px;
  }
  nav {
    display: none;
  }
  #navMenu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 60px;
    background-color: var(--color-five);
  }
  span.navOptions {
    border: none;
    font-size: 12px;
  }
  .footer {
    margin: auto;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
  }
  .cart {
    width: 75px;
    height: 75px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75vw;
  }
  h5 {
    display: none;
  }

  #cartMenu {
    width: 510px;
    height: 600px;
  }
  span.navOptions {
    font-size: 16px;
  }
}
