@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primarycolor: #05104d;
    --secundarycolor: #425192;
}

@media screen and (min-width:992px) {

body{
    height: 300vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(241, 241, 226);
}

header{
    width: 100vw;
    height: 100vh;    
    background: radial-gradient(circle farthest-corner at center center, var(--secundarycolor) 0%, var(--primarycolor) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px var(--primarycolor);    
}
#divheader{
    width: 50vw;
    height: 50vh;
    background-color: rgba(143, 143, 143, 0.185);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;       
}

h1,h3{
    font-family: "Chakra Petch", serif;
}

h1{
    color: lightgrey;
    font-size: 2em;
    white-space: nowrap;
}
h3{    
    color: lightgrey;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(40) forwards, blink 0.5s step-end infinite;
}

@keyframes typing{
    from{
        width: 0;
    } to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: rgba(0, 0, 0, 0.774);
}

div#foto{    
    border-radius: 10%;
    overflow: hidden;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.863);    
}

div#texto{
    width: 15vw;
    height: 40vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    text-align: start;    
}

main{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
    animation: appear ease-in-out;
    animation-timeline: view();  
    animation-range: cover 0% cover 50%;    
}

div#portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h5{
    font-size: 2.5em;
    font-family: "Tiny5", serif;
    font-weight: 300;
    color: var(--primarycolor);
}

ul{    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

li{
    list-style: inside square;
    padding: 25px;
    
}

a.github{
    font-family: "Chakra Petch" ;
    text-decoration: none;    
    color: black;
    font-size: 1.2em;
}

a.github:hover{
    text-decoration: underline;   
}

div#linkedin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.iconlink:hover{
    transform: scale(0.9);
    transition: ease-in-out 0.3s;
}

div#logos:hover{
    transform: scale(1.05);
    transition: ease 0.5s;
}


article{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    animation: appear ease-in-out;
    animation-timeline: view();  
    animation-range: cover 0% cover 50%;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    text-align: center;    
}


@keyframes appear{
    from{
        opacity: 0;
        translate: 0vw 100vh;        
    } to {
        opacity: 1;
        translate: 0vw 0vh;        
    }
}

div#imagem{
    width: 75vw;
    height: 50vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background: url(imagens/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    clip-path: circle();
    animation: spin infinite 15s linear;
}

@keyframes spin { 
    from{        
        transform: rotate(0deg);
    } to {        
        transform: rotate(360deg);        
    }    
}

section{
    width: 100vw;
    height: 70vh;
    background-color: var(--primarycolor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h6{
    color: white;
    font-size: 2.5em;
    font-family: "Chakra Petch", serif;
    font-weight: 300;
}

div.divsection{
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p.psection{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    white-space: wrap;
}

}

