@charset "UTF-8";

@media screen and (max-width:992px) {
    
body{
    background-color: rgb(241, 241, 226);
    height: 300vh;
    width: 100vw;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 70vh;
    background-color: var(--primarycolor);
    display: flex;    
    justify-content: center;
    align-items: center;
}

div#divheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(143, 143, 143, 0.185);
    width: 70vw;
    height: 55vh;
    border-radius: 10px;
    padding: 15px;
}

div#texto{
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div#foto{
    background-color: black;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
}

img{
    height: 15vh;
    border-radius: 50%;  

}

main{    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h5{
    font-family: "Tiny5", serif;
    font-weight: 300;
    color: var(--primarycolor);
    font-size: 2em;
    margin: 40px;    
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

li{
    margin: 10px;    
}

a.github{
    text-decoration: none;
    color: darkcyan;
    font-size: 1.3em;
    font-weight: 600;
}

div#linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img.iconlink{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img#imglogos{
    border-radius: 0px;
}

p{
    padding: 10px;
    text-align: center;
}

section{
    margin: auto;       
    background: url(imagens/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    clip-path: circle();
    width: 50vw;
    height: 50vh;
}



}