@charset "UTF-8";

@media screen and (min-width: 992px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 70vw;
    margin: auto;
  }
  #dheader {
    width: 20vw;
  }
  #projetos {
    height: 80vh;
  }
  #foto {
    background: url(imagens/fotoperfilgrande.jpeg);
    width: 345px;
    height: 335px;
    background-position: center;
  }
  main {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #dmain {
    width: 70vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 1.2em;
  }
  .pfooter {
    font-size: 0.7em;
  }
  h2 {
    font-size: 2em;
    text-align: justify;
  }
  span {
    font-size: 2.5em;
    text-align: justify;
  }
  #psobre {
    text-align: center;
  }
}
