@charset "UTF-8";

@media screen and (min-width: 992px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
  }
  #dheader {
    width: 20vw;
  }
  #foto {
    width: 575px;
    height: 565px;
    background-position: center;
  }
  main {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #dmain {
    width: 70vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  #cv {
    text-align: center;
    width: 345px;
  }
  .skill {
    height: 110px;
    width: 110px;
  }
  #game {
    display: flex;
  }
  p {
    font-size: 1.2em;
  }
  .pfooter {
    font-size: 0.7em;
  }
  h2 {
    font-size: 2em;
    text-align: justify;
  }
  span {
    font-size: 2.5em;
    text-align: justify;
  }
  #psobre {
    text-align: center;
  }
  footer {
    margin-top: -300px;
  }
}

@media screen and (min-width: 1200px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  #dprojetos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }
}
