@charset "UTF-8";

@media screen and (min-width: 992px) {
  .anav {
    font-size: 40px;
  }
  #dheader {
    width: 20%;
  }
  #foto {
    width: 575px;
    height: 565px;
    background-position: center;
  }
  main {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #dmain {
    width: 70vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  #cv {
    text-align: center;
    width: 345px;
  }
  .skill {
    width: 100px;
  }
  p {
    font-size: 1.1em;
  }
  .pfooter {
    font-size: 0.7em;
  }
  h2 {
    font-size: 2.2em;
    text-align: justify;
  }
  span {
    font-size: 2.3em;
    text-align: justify;
  }
  #psobre {
    font-size: 20px;
  }
  #dfooter {
    flex-direction: row;
  }
  .imgSkill {
    width: 90px;
    height: 90px;
  }
  #dskills {
    -webkit-box-reflect: below 5px
      linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.301));
  }
}

@media screen and (min-width: 1200px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #game {
    display: flex;
  }
  #gsap {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #dprojetos {
    grid-template-columns: repeat(2, 1fr);
  }
  #dfooter {
    flex-direction: row;
  }
  #dskills {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  #dprojetos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
