@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-one: rgb(13, 6, 48);
  --color-two: #18314f;
  --color-three: #384e77;
  --color-four: rgb(139, 190, 178);
  --color-five: #e6f9af;
  --color-six: azure;
  --font-one: "Indie Flower", cursive;
  --font-two: "Merienda", cursive;
  --font-three: "Tektur", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--color-one);
  min-height: 100vh;
}

.lightmode {
  background-color: var(--color-six);
  color: var(--color-one);
}

.lightmodetext {
  color: var(--color-one);
}

header {
  height: 10vh;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-one);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-three);
  position: sticky;
  top: 0%;
  z-index: 50;
  overflow: hidden;
}

#dheader {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#modebox {
  accent-color: var(--color-three);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#bars {
  color: var(--color-three);
  font-size: 1.4em;
  padding: 8px;
  border-radius: 50%;
}

#bars:hover {
  background-color: var(--color-four);
  transition: 0.3s ease;
  cursor: pointer;
}

#xicon {
  color: var(--color-three);
  font-size: 2.2em;
  display: none;
}

#xicon:hover {
  cursor: pointer;
  color: var(--color-four);
  transition: 0.3s ease;
}

nav {
  position: fixed;
  top: 10%;
  display: none;
  animation: appear 1s ease-in-out;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #0000009f;
  z-index: 50;
}

@keyframes appear {
  0% {
    opacity: 0%;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateY(0deg);
  }
}
#dnav {
  margin: auto;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

li {
  list-style: none;
}

a {
  font-size: 3em;
  color: var(--color-four);
  text-decoration: none;
  font-family: var(--font-two);
}
li:hover {
  transform: scale(0.9);
  transition: 0.2s ease;
}

.anav {
  font-family: var(--font-three);
  font-weight: 400;
}

.anav:hover {
  color: var(--color-five);
  transition: 0.2s ease;
}

main {
  margin: auto;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;
  max-width: 1200px;
  background-image: radial-gradient(
    ellipse farthest-side at center center,
    var(--color-two) 1%,
    var(--color-one) 99%
  );
}

.mainlightmode {
  background-image: radial-gradient(
    ellipse farthest-side at center center,
    var(--color-four) 1%,
    var(--color-six) 99%
  );
}

#dmain {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#cv {
  margin-top: 20px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid var(--color-four);
  border-radius: 9px;
  padding: 7px;
  background-color: var(--color-six);
  color: var(--color-one);
}

#cv:hover {
  background-color: var(--color-one);
  color: var(--color-four);
  transition: 0.2s ease;
  transform: scale(0.95);
}

#foto {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 185px;
  height: 205px;
  background: url(imagens/fotoperfil.jpeg);
  background-position: center center;
  border: 6px rgba(240, 255, 255, 0.596) double;
}

.animefoto {
  animation: clippath 2.5s ease;
}

@keyframes clippath {
  0% {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    transform: scale(1.03);
  }
  100% {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
}

h1 {
  color: var(--color-three);
  font-family: var(--font-one);
  font-weight: bolder;
  font-size: 3.3em;
  margin-left: 30px;
}

.h1wobble {
  animation: Wobble 2s ease-in-out;
}

@keyframes Wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
    color: var(--color-four);
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

h2 {
  color: var(--color-six);
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s steps(150) forwards, blink 0.5s step-end infinite;
  font-family: var(--font-two);
  max-width: 370px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h3 {
  margin: auto;
  color: var(--color-six);
  font-size: 1.7em;
  font-family: var(--font-two);
  text-align: center;
  align-self: center;
}

p {
  color: var(--color-three);
  font-size: 1em;
  text-align: center;
}

span {
  animation: color 2s infinite ease-in-out;
  font-size: 1.9em;
  font-family: var(--font-one);
  text-align: center;
}

@keyframes color {
  0% {
    color: var(--color-five);
  }
  25% {
    color: var(--color-four);
  }
  50% {
    color: var(--color-two);
  }
  75% {
    color: var(--color-four);
  }
  100% {
    color: var(--color-five);
  }
}

#sobre {
  height: 35vh;
  margin: auto;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1550px;
}

@keyframes slidein {
  0% {
    opacity: 0%;
    transform: translateX(-4%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

#skills {
  width: 100%;
  min-height: 300px;
  margin: auto;
  padding: 2rem 1rem;
  margin-top: 90px;
  animation: slidein ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#dskills {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

#dskills:has(:hover) :not(:hover) {
  scale: 0.9;
  filter: blur(2px);
}

.skill {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 7px;
  transition: all 0.4s ease;
}

.skill:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

#html,
#css,
#js {
  font-size: 3.2em;
  color: var(--color-four);
}

#tailimg {
  width: 45px;
  height: 16px;
}

#projetos {
  width: 100%;
  padding: 3rem 1rem;
  margin: auto;
  gap: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  animation: slidein ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
  margin-bottom: 50px;
}

#dprojetos {
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.proj {
  margin: auto;
  background-color: var(--color-three);
  width: 280px;
  height: 240px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 70%;
  box-shadow: 1px 1px 3px 1px black;
  gap: 1rem;
  padding: 1rem;
}

.proj:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: 0.5s ease;
}

a.aproj {
  font-size: 1.1em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-six);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 240px;
}

.imgproj {
  width: 250px;
  height: 160px;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 2px solid var(--color-one);
  box-shadow: 1px 1px 4px 2px var(--color-two);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#game {
  display: none;
}

footer {
  width: 100%;
  min-height: 100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

#dfooter {
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

.contato {
  color: var(--color-three);
  font-size: 1.2em;
  font-family: var(--font-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 10%;
  margin: auto;
}

.contato:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  color: var(--color-four);
}

.linkfooter {
  font-size: 1.4em;
  color: var(--color-three);
  font-family: var(--font-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  margin: auto;
  width: 10vw;
}

.linkfooter:hover {
  color: var(--color-four);
  transition: 0.5s ease;
}

.pfooter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.4em;
  margin-top: 15px;
  color: var(--color-four);
}

/* Scrollbar CSS code */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-three);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--color-three);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--color-three);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-four);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-four);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-five);
}
