@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* dark mode colors*/
  --dark-bg-dark: oklch(9.693% 0.00001 271.152);
  --dark-bg: oklch(14.479% 0.00002 271.152);
  --dark-bg-light: oklch(0.2 0 79);
  --dark-text: oklch(96.115% 0.00011 271.152);
  --dark-text-muted: oklch(76.039% 0.00009 271.152);
  --dark-highlight: oklch(0.5 0 79);
  --dark-border: oklch(0.4 0 79);
  --dark-border-muted: oklch(0.3 0 79);
  --dark-primary: oklch(76.041% 0.09958 79.407);
  --dark-secondary: oklch(0.76 0.1 259);

  /*light mode colors*/
  --light-bg-dark: oklch(0.92 0 79);
  --light-bg: oklch(0.96 0 79);
  --light-bg-light: oklch(1 0 79);
  --light-text: oklch(0.15 0 79);
  --light-text-muted: oklch(0.4 0 79);
  --light-highlight: oklch(1 0 79);
  --light-border: oklch(59.987% 0.00007 271.152);
  --light-border-muted: oklch(0.7 0 79);
  --light-primary: oklch(40.131% 0.08587 72.069);
  --light-secondary: oklch(0.4 0.1 259);

  /*fonts */
  --font-one: "Indie Flower", cursive;
  --font-two: "Space Grotesk", sans-serif;
  --font-three: Arial, Helvetica, sans-serif;

  /*spacing*/
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-xxl: 72px;
  --space-xxxl: 160px;
}

#page {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 70px;
  height: 70px;
  border-top: 2px solid var(--dark-primary);
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--dark-bg);
}

.lightmode {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.lightmodetext {
  color: var(--light-text);
}

header {
  height: 10vh;
  width: 100%;
  background-color: hsla(0, 0%, 4%, 0.562);
  border-bottom: 1px solid var(--dark-border);
  position: sticky;
  top: 0%;
  z-index: 50;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}

.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1450px;
}

#dheader {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#modebox {
  accent-color: var(--light-primary);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#sun {
  display: none;
  color: var(--light-primary);
}

#moon {
  display: block;
  color: var(--light-primary);
}

body.dark-mode #sun {
  display: block;
}

body.dark-mode #moon {
  display: none;
}

.darkLight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 96px;
}

#bars {
  color: var(--light-primary);
  font-size: 1.4em;
  padding: 8px;
  border-radius: 50%;
  transition: 0.2s ease;
}

#bars:hover {
  background-color: var(--dark-primary);
  cursor: pointer;
  color: var(--dark-bg);
}

#xicon {
  color: var(--light-primary);
  font-size: 2.2em;
  display: none;
  transition: 0.2s ease;
}

#xicon:hover {
  cursor: pointer;
  color: var(--dark-primary);
}

nav {
  position: fixed;
  top: 10%;
  display: none;
  animation: appear 1s ease-in-out;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #000000de;
  z-index: 50;
}

@keyframes appear {
  0% {
    opacity: 0%;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateY(0deg);
  }
}
#dnav {
  margin: auto;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

li {
  list-style: none;
  transition: 0.2s ease;
}

a {
  font-size: 3em;
  color: var(--dark-primary);
  text-decoration: none;
  font-family: var(--font-two);
}

li:hover {
  transform: scale(1.2);
}

.anav {
  font-family: var(--font-two);
  font-weight: 400;
  transition: 0.2s ease;
  font-size: 32px;
}

.anav:hover {
  color: var(--dark-text);
}

main {
  margin: auto;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: var(--space-lg);
  max-width: 1450px;
  background-image: radial-gradient(
    ellipse farthest-side at center center,
    var(--dark-bg-light) 1%,
    var(--dark-bg) 99%
  );
}

.mainlightmode {
  background-image: radial-gradient(
    ellipse farthest-side at center center,
    var(--light-bg-dark) 1%,
    var(--light-bg) 99%
  );
}

#dmain {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#cv {
  margin-top: var(--space-sm);
  font-size: 1.1em;
  font-family: var(--font-three);
  border: 2px solid var(--light-border-muted);
  border-radius: 8px;
  padding: var(--space-md);
  background-color: var(--light-bg);
  color: var(--light-text);
  transition: 0.2s ease-in-out;
}

#cv:hover {
  background: linear-gradient(
    to right,
    var(--light-primary),
    var(--dark-primary)
  );
  color: var(--dark-text);
  transform: scale(1.05);
}

#foto {
  width: 270px;
  transition: 0.2s ease-in-out;
}

#foto:hover {
  transform: scale(1.1);
}

.animefoto {
  animation: rotate 2s ease-in-out;
}

@keyframes rotate {
  0% {
    scale: 1;
    transform: rotateY(0);
  }
  75% {
    scale: 1.1;
    transform: rotateY(-180deg);
  }
  100% {
    scale: 1;
    transform: rotateY(0);
  }
}

h1 {
  color: var(--light-primary);
  font-family: var(--font-one);
  font-weight: bolder;
  font-size: 3.3em;
  margin-left: var(--space-lg);
}

h2 {
  color: var(--dark-text);
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font-two);
  max-width: 390px;
  text-align: justify;
  margin-bottom: var(--space-sm);
}

h3 {
  color: var(--dark-text);
  margin: auto;
  font-size: 1.7em;
  font-family: var(--font-two);
  text-align: center;
  align-self: center;
}

p {
  color: var(--dark-text-muted);
  font-size: 0.9em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: var(--space-sm);
}

span {
  font-size: 1.7em;
  font-weight: bolder;
  font-family: var(--font-two);
  text-align: justify;
  max-width: 390px;
  white-space: nowrap;
  margin-bottom: var(--space-sm);
  background: -webkit-linear-gradient(
    var(--dark-primary),
    var(--light-primary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sobre {
  margin: auto;
  padding: var(--space-xl);
  margin-top: var(--space-xxxl);
  gap: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsla(0, 0%, 9%, 0.164);
  box-shadow: 0px 0px 5px 2px var(--dark-highlight);
  width: 80%;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

#sobre:hover {
  background-color: hsla(0, 0%, 9%, 0.288);
}

#psobre {
  padding: 0 var(--space-xl);
  border-radius: 5px;
  max-width: 900px;
  text-align: justify;
  text-indent: 20px;
}

#skills {
  width: 100%;
  max-width: 1550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-xxxl);
  padding: var(--space-lg);
}

#dskills {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
  margin-top: var(--space-xl);
}

#dskills:has(:hover) :not(:hover) {
  scale: 0.9;
  filter: blur(2px);
}

.skill {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: var(--space-md);
  transition: all 0.2s ease-in-out;
}

.imgSkill {
  width: 80px;
  height: 80px;
}

#projetos {
  width: 100%;
  max-width: 1450px;
  margin: auto;
  margin-top: var(--space-xxxl);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#dprojetos {
  width: 100%;
  max-width: 1450px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--space-xl);
  margin-top: var(--space-xxl);
  justify-content: center;
}

.container {
  width: 100%;
  margin: auto;
}

.proj {
  margin: auto;
  background-color: var(--dark-border);
  width: 280px;
  height: 240px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 80%;
  box-shadow: 8px 8px 0px 1px var(--dark-bg-light);
  padding: var(--space-lg);
  transition: all 0.2s ease-in-out;
}

.proj:hover {
  opacity: 100%;
  transform: scale(1.08);
}

a.aproj {
  font-size: 1.1em;
  font-weight: lighter;
  font-family: var(--font-three);
  color: var(--dark-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 240px;
}

.imgproj {
  width: 250px;
  height: 160px;
  border-radius: 4px;
  border: 1px solid var(--dark-bg-light);
  box-shadow: 0px 0px 5px 1px var(--dark-bg);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#game {
  display: none;
}

#gsap {
  display: none;
}

footer {
  width: 100%;
  max-width: 1450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  gap: var(--space-xxl);
  margin-bottom: var(--space-xxxl);
  margin-top: var(--space-xxxl);
}

#dfooter {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

.contato {
  color: var(--dark-text);
  font-size: 1.2em;
  font-family: var(--font-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.contato:hover {
  transform: scale(1.1);
  color: var(--dark-primary);
}

.linkfooter {
  font-size: 1.4em;
  color: var(--dark-primary);
  font-family: var(--font-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  margin: auto;
  width: 10vw;
  transition: all 0.2s ease-in-out;
}

.linkfooter:hover {
  color: var(--light-text-muted);
}

.pfooter {
  font-family: var(--font-three);
  font-size: 0.4em;
  margin-top: var(--space-md);
  color: var(--light-text-muted);
}

/* Scrollbar CSS code */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--light-border);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--light-border);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--light-border);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--light-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-primary);
}
