@charset "UTF-8";

@media screen and (min-width: 768px) {
  body {
    background: url(imagens/pexels-amar-30792658.webp);
    background-size: cover;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background: url(imagens/pexels-pixabay-163031.webp);
    background-size: 120%;
    background-position: center center;
  }
  main {
    height: 60vh;
    width: 40vw;
    background: none;
    border: none;
    box-shadow: none;
  }
  .options {
    width: 40vw;
  }
  .lists {
    width: 30vw;
  }
  li {
    width: 30vw;
  }
}
