@charset "UTF-8";

@media (max-width:1200px) {
    main{
        flex-direction: column;
    }
    
    form{
        width: 90vw;
    }
    aside{
        display: none;
    }
    h1{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.1em;
    }
}
@media (max-width:768px){
    main{
        flex-direction: column;
    }
    h1{
        font-size: 0.95em;
    }
    h2{
        font-size: 0.7em;
    }
    header{
        height: 15vh;
    }
    aside{
        display: none;
    }
    body{
        height: 170vh;
    }

}