@charset "UTF-8";

@media screen and (max-width: 768px) {
    header{
        height:10vh;
    }
    img.pic{
        width: 75px;
        height: 75px;
    }
    button.button{
        font-size: 0.7em;
        padding: 5px;
    }
    main{
        height: 50vh;
    }
    div#menu{
        height: 50vh;
    }
    div.comidas{
        height: 50vh;
    }
    div.itens{
        width: 80px;
        height: 95px;
    }
    p{
        font-size: 0.6em;
    }
    nav{
        margin-bottom: 30px;
    }
    div.itens{
        font-size: 0.8em;
    }

}