@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color:    ;
    --secundary-color:   ;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 75vw;
    height: 70vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

h1{
    margin-bottom: 40px;
}

form{
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

section{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}