@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-one: "Tektur", serif;
  --font-two: "Chakra Petch", serif;
  --bg-dark: oklch(0.92 0.01 243);
  --bg: oklch(0.96 0.01 243);
  --bg-light: oklch(1 0.01 243);
  --text: oklch(0.15 0.02 243);
  --text-muted: oklch(0.4 0.02 243);
  --highlight: oklch(1 0.02 243);
  --border: oklch(0.6 0.02 243);
  --border-muted: oklch(0.7 0.02 243);
  --primary: oklch(0.4 0.1 243);
}

#preloader {
  width: 100%;
  height: 100dvh;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  height: 70px;
  width: 70px;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#page {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}

div#robo {
  display: none;
}

main {
  width: 80%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: var(--font-two);
  overflow: hidden;
}

h1 {
  font-family: var(--font-one);
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--text);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

label {
  color: var(--text);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form > input:focus-within {
  background-color: var(--bg-dark);
}

input {
  padding: 10px;
  outline-style: none;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--bg-light);
}

input#submit {
  background-color: var(--primary);
  color: var(--highlight);
  border-radius: 5px;
  border: 1px solid var(--primary);
  width: 100%;
  align-self: center;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-two);
  font-size: 14px;
}

input#submit:hover {
  cursor: pointer;
  background-color: var(--bg-dark);
  color: var(--primary);
}

#mail,
#pword {
  width: 100%;
}

button.bcontinue {
  padding: 5px;
  background-color: var(--bg-light);
  width: 280px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid var(--border);
}

button.bcontinue:hover {
  cursor: pointer;
  background-color: var(--bg-dark);
}

img.logo {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

h2 {
  font-size: 18px;
  font-family: var(--font-two);
  color: var(--text);
}

h3 {
  font-size: 10px;
  font-family: var(--font-two);
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

a.underline:hover {
  text-decoration: underline;
}

label#check {
  font-size: 10px;
  font-family: var(--font-two);
}

.belowInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
