@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(192, 210, 224);
  --secundary-color: rgb(36, 39, 167);
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

div#robo {
  display: none;
}

main {
  width: 85vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(102, 102, 102);
  font-family: "Chakra Petch", serif;
}

h1 {
  font-family: "Tektur", serif;
}

form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

form > input:focus-within {
  background-color: rgba(211, 211, 211, 0.555);
}

input {
  padding: 10px;
  outline-style: none;
  border-radius: 5px;
  border: 1px solid darkblue;
}

input#submit {
  background-color: var(--secundary-color);
  color: white;
  border-radius: 5px;
  border: 1px solid darkblue;
  width: 250px;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

input#submit:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid darkblue;
  color: darkblue;
}

button.bcontinue {
  padding: 5px;
  background-color: white;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  transition: all 0.2s ease-in-out;
}

button.bcontinue:hover {
  cursor: pointer;
  background-color: rgba(216, 216, 216, 0.877);
}

img.logo {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

h2 {
  font-size: 1.2em;
}

h3 {
  margin: 5px;
  font-size: 1em;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--secundary-color);
  transition: all 0.2s ease-in-out;
}

a.underline:hover {
  text-decoration: underline;
}

label#check {
  font-size: 0.9em;
}
