@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-one: #414141;
  --color-two: #dc143c;
  --color-three: #f3ada6;
  --color-four: #e2e275;
  --primary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(imagens/patternpad-2025-10-02-15-33-33.svg);
  overflow: hidden;
}

section {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(
    to top right,
    var(--color-two),
    var(--color-three)
  );
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  height: 22vh;
}

button {
  padding: 8px;
  background-color: var(--color-four);
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: 600;
  transition: all 0.22s ease-in-out;
}

button:hover {
  background-color: #dc7d72;
}

h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  color: black;
}

h2 {
  font-family: var(--primary-font);
  color: black;
  font-size: 2em;
  font-weight: 900;
}

main {
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
}

.bicho {
  width: 100px;
  height: 100px;
}

.snakemove {
  animation: move 2.15s infinite linear;
}

@keyframes move {
  0% {
    left: 1800px;
  }
  100% {
    left: -20px;
  }
}

.snakemovefaster {
  animation: move 1.5s infinite linear;
}

.snakemoveevenfaster {
  animation: move 1s infinite linear;
}

.snakemovesuperfast {
  animation: move 0.75s infinite linear;
}

.catjump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 820px;
  }
  30% {
    top: 500px;
  }
  100% {
    top: 820px;
  }
}

#cat {
  position: absolute;
  top: 820px;
  display: block;
}

#jumpcat {
  position: absolute;
  top: 820px;
  display: none;
}

#snake {
  position: absolute;
  top: 820px;
  left: 1800px;
}

#gameover {
  display: none;
  position: absolute;
  top: 15%;
  font-size: 4em;
  background-image: linear-gradient(
    to top right,
    var(--color-two),
    var(--color-three)
  );
  border: 2px solid black;
  padding: 35px;
  border-radius: 10px;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: var(--primary-font);
}

#restart {
  background-color: var(--color-four);
  border-radius: 20px;
  border: 1px solid black;
  color: black;
  padding: 5px;
  transition: all 0.22s ease-in-out;
}

#restart:hover {
  background-color: #dc7d72;
  cursor: pointer;
}

#winner {
  display: none;
  position: absolute;
  top: 15%;
  font-size: 2em;
  background-image: linear-gradient(
    to top right,
    var(--color-two),
    var(--color-three)
  );
  border: 2px solid black;
  padding: 35px;
  border-radius: 50px;
  font-family: var(--primary-font);
  color: black;
  justify-content: center;
  align-items: center;
}

#cursor {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: shine 0.5s ease infinite;
  justify-content: center;
  align-items: center;
  font-size: 2.7em;
  color: rgba(0, 0, 0, 0.295);
}

@keyframes shine {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
